<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=pants" class="dropdown-item">Pants</a>
                <a href="{% url 'products' %}?category=jeans" class="dropdown-item">Jeans</a>
                <a href="{% url 'products' %}?category=t-shirts" class="dropdown-item">T-Shirts</a>
                <a href="{% url 'products' %}?category=underwear" class="dropdown-item">Underwear</a>
                <a href="{% url 'products' %}?category=pants,jeans,t-shirts,underwear" class="dropdown-item">All Clothing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="shoes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shoes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shoes-link">
                <a href="{% url 'products' %}?category=sneakers" class="dropdown-item">Sneakers</a>
                <a href="{% url 'products' %}?category=boots" class="dropdown-item">Boots</a>
                <a href="{% url 'products' %}?category=indoor shoes" class="dropdown-item">Indoor Shoes</a>
                <a href="{% url 'products' %}?category=sneakers,boots,indoor shoes" class="dropdown-item">All Shoes</a>
            </div>
        </li>

        <li class="nav-item d-block">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'contact' %}" id="contact-link" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>

    </ul>
</div>